* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}    
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 20px;
}
.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #80b3ff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 62px;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid #80b3ff;
    background: #80b3ff;
    transition: 1s;
}
nav .fa {
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links{
        position: absolute;
        background: #80b3ff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -400px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;  
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -180px;    
    }
    .nav-links ul{
        padding: 30px;
    }
}
/* About Me Section */
.aboutMe {
    min-height: 100vh;
    width: 90%;
    margin: auto;
    text-align: right;
    padding-top: 100px;
}
.intro h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.intro p {
    color: #777;
    font-size: 14px;
    line-height: 22px;
    padding: 15px;
    text-align: justify;
    display: flex;
    width: 50%;
    float: right;
}
.img_profile {
    background-image: linear-gradient(rgba(29, 36, 61, 0.7),rgba(47, 53, 76, 0.7)),url(images/profile.jpg);
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 60px;
    margin-bottom: 5%;
    margin-right: 60%;
    padding: 250px;
}
.btn {
    display: flex;
    text-decoration: none;
    color: #0b0b0b;
    border: 2px solid #80b3ff;
    padding: 8px 24px;
    font-size: 12px;
    background: transparent;
    position: absolute;
    cursor: pointer;
    margin-top: 25%;
}
@media(max-width: 700px){
    .aboutMe{
        flex-direction: column;
    }
    .intro p{
        color: #0b0b0b;
        text-align: justify;
        margin-top: 40%;
        padding: 0%;
        width: 100%;
    }
    .img_profile{
        margin-right: 0%;
        background-size: 40%;
        background-position: top;
        padding: 20%;
    }
    .btn{
    margin-right: 0%;
    background-size: 40%;
    margin-top: 60%;
}